<div>
    <h1>Account Manager</h1>
    <ul>
        <li><button>Add User</button></li>
        <li><button>Remove User</button></li>
        <li><button>Update User</button></li>
        <li><button>List All User</button></li>
    </ul>
</div>