<div>
    <div class="title">Account Manager</div>
    <ul class="adminPage-ul">
        <li class="btn-li"><button>Add User</button></li>
        <li class="btn-li"><button>Remove User</button></li>
        <li class="btn-li"><button>Update User</button></li>
        <li class="btn-li"><button>List All User</button></li>
    </ul>
</div>